:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color1: #081012;
  --color2: #D4E485;
  --color3: #689700;
  --color4: #214C24;
  --white: #fff;
  --black: #000;
}
