.signin__main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../assets/make-it-left-aligned--reduce-space.svg') no-repeat left top;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.signin__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    color: var(--color2);
}

.signin__top__left{
    font-size: 5rem;
    font-weight: 600;
    padding: 0px;
    margin: 20px 10rem;
    color: linear-gradient(var(--color2), var(--color3));
}

.signin__top__right{
    font-size: 5rem;
    font-weight: 600;
    padding: 0px;
    margin: 0 10rem;
    color: var(--color2);
}

.signin__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 2rem 12rem;
}

.signin__form h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}

.signin__form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    padding: 2rem;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
}

.signin__form form input{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color2);
    color: var(--color3);
} 

.signin__form form button{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 600;
}
